@import "./_variables.scss";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
body {
  font-family: "Antonio", sans-serif;
  -webkit-font-smoothing: anialiased;
  color: $dark;
}
nav li:last-child a {
  background-color: $primary;
  &:hover {
    background-color: $primary-hover;
  }
  transition: $smooth;
}
nav li a:hover {
  // color:$primary-hover;
  transition: $smooth;
  &:hover {
    color: $primary-hover;
  }
}
section.hero {
  background-color: $secondary;
}
.size {
  background-color: $secondary;
}
.add-to-cart {
  color: $primary;
  transition: $smooth;
  &:hover {
    color: white;
    background-color: $primary;
  }
  &:focus{
    outline: none;
  }
}
.btn-primary {
  background: $primary;
  transition: $smooth;
  border: none;
  outline: none;
  &:hover {
    background: $primary-hover;
    border: none;
    outline: none;
    color: white;
  }
}
.cart {
  background: $grey;
}
.amount {
  color: $primary;
}
.login {
  background-color: $secondary;
  min-height: calc(100vh-88px);
  a {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }
}

.noty_theme_mint{
  border-radius: 50px!important;
  padding-left: 8px!important;
}